@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    position: relative;
    margin: 0% 20%;
    text-align: center;
    color: #edf0f1;
    background-color: #24252A;
}

#page-container{
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

li, a, button, h2, p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

h2{
    font-size: 22px;
    text-decoration: underline;
    color: #537bf5;
    font-weight: bold;
}

header{
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
}

.logo{
    cursor: pointer;
    width: 110px;
    margin-right: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #1E48C2 !important;
}

.cta button{
    background-color: rgba(30, 72, 194, 1);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s !important;
    margin-left: 15px;
}

.cta button:hover{
    background-color: rgba(30, 72, 194, 0.7);
}

#darkModeBtn{
    background-color: transparent;
    border: none;
    padding-left: 15px;
    cursor: pointer;
}

#darkModeBtn img:hover{
    animation: shake 0.5s;
    animation-iteration-count: 1;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}
.profile{
    display: flex;
}

.profile img{
    width: 100%;
    max-width: 1100px;
    border-radius: 30px;
    margin-left: 30px;
    height: auto;
    cursor: pointer;
}
.profile-photo{
    margin-right: 2.5%;
}

.about-me{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.about-me p{
    margin: 10px 0;
}

.project{
    text-align: left;
}

.project-list{
    margin-top: 10px;
    padding-left: 15px;
}

.project-list li{
    margin-top: 5px;
}

.skills{
    margin-top: 25px;
    text-align: left;
}

.coding-icon{
    display: flex;
    margin-top: 15px;
    column-gap: 15px;
    flex-wrap: wrap;

}
.coding-icon i {
    font-size: 40px;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

.heart{
    color: red;
    font-weight: bold;
}

@media only screen and (max-width: 1060px){
    .nav_links li{
        display: inline-block;
        padding: 0px 5px;
    }
}

@media only screen and (max-width: 900px){
    header{
        display: block;
    }


    header:nth-child(1){

        display: block;
    }

    .nav_links li{
        display: block;
        padding: 10px 5px;

    }
    .nav_links li a{
        font-size: 20px;
    }

    .cta button {
        margin: 5px 0px 0px 0px;
        font-size: 18px;
    }

    .cta{
        display: block;
    }

    #darkModeBtn{
        background-color: transparent;
        border: none;
        padding-left: 0px;
        padding-top: 15px;
    }

    .logo{
        width: 125px;
        margin-right: auto;
    }

    #white-mode img{
        padding: 10px 0px 0px 0px;
        margin: 0;
    }


    .profile{
    display: block;
    }

    .profile-photo{
        width: 80%;
    }

}